<!-- templates/index.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Grafana Plugins Dashboard</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>Grafana Plugins Dashboard</h1>

    <h2>Upload Plugin Zip File</h2>
	{% with messages = get_flashed_messages() %}
	{% if messages %}
		<ul class=flashes>
		{% for message in messages %}
		<li>{{ message }}</li>
		{% endfor %}
		</ul>
	{% endif %}
	{% endwith %}
	{% block body %}{% endblock %}
    <form method="POST" action="{{ url_for('upload') }}" enctype="multipart/form-data">
        </select>
        <input type="file" name="file">
        <input type="submit" value="Upload">
    </form>

    <h2>
		<a href="{{ url_for('plugins_page') }}">Plugins</a>
	</h2>

	<ul>
		{% for directory in directories %}
			<li>
				{{ directory }}
				<button class="remove-button" onclick="confirmAndRemove('{{ directory }}')">Remove</button>
				<ul>
					{% for file in os.listdir(os.path.join(app.config['GRAFANA_PLUGINS_REPO_DIR'], directory)) %}
						{% if file != 'plugin.json' %}
							<li>
								<a href="{{ url_for('download_file', path=directory+'/'+file) }}">{{ file }}</a>
								<button class="remove-button" onclick="confirmAndRemove('{{ directory }}/{{ file }}')">Remove</button>
							</li>
						{% endif %}
					{% endfor %}
				</ul>
			</li>
		{% endfor %}
	</ul>
	
	<!-- Log Window -->
	<div id="logging-window">
		<!-- Separator bar -->
		<div id="separator-bar" class="separator-bar"></div>
		<h2>Log Window</h2>
		<div id="logging-window-frame" class="log-window">
			<pre id="output"></pre>
		</div>
	</div>

    <script>
		var isScrolledDown = false
        function confirmAndRemove(fileOrDirPath) {
            if (confirm('Are you sure you want to remove this file or directory?')) {
                window.location.href = '/remove/' + fileOrDirPath;
            }
        }
		
		
		function scrollLogWindowToBottom() {
			var logWindow = document.getElementById('logging-window-frame');
			logWindow.scrollTop = logWindow.scrollHeight;
			// logWindow.scrollTo(logWindow.scrollHeight, logWindow.scrollHeight);
		}
		
		var output = document.getElementById('output');
		var xhr = new XMLHttpRequest();
		xhr.open('GET', '{{ url_for('stream') }}');
		xhr.send();

		setInterval(function() {
			output.textContent = xhr.responseText;
			if (! isScrolledDown) {
				scrollLogWindowToBottom();
				isScrolledDown = true
			}
		}, 1000);
		

		// Toggle logging window visibility and expandability
		var separatorBar = document.getElementById('separator-bar');
		var loggingWindow = document.getElementById('logging-window');
		var isExpanded = false;

		separatorBar.addEventListener('mousedown', function(event) {
			isExpanded = true;
			var startY = event.clientY;
			var startHeight = loggingWindow.offsetHeight;

			function resize(event) {
				var newHeight = startHeight + (event.clientY - startY);
				if (newHeight < 200) {
					newHeight = 200;
				}
				loggingWindow.style.height = newHeight + 'px';
			}

			function stopResize() {
				isExpanded = false;
				document.removeEventListener('mousemove', resize);
				document.removeEventListener('mouseup', stopResize);
			}

			document.addEventListener('mousemove', resize);
			document.addEventListener('mouseup', stopResize);
		});

		document.addEventListener('mouseup', function(event) {
			if (!isExpanded) {
				loggingWindow.classList.toggle('expanded-log-window');
			}
		});
    </script>
</body>
</html>
