<html>
  <head>
    <title>Grafana Plugins Server - login page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='login_styles.css') }}">
  </head>
  <body>
    <div class="box">
      <h1>Please login</h1>
      <br>
      <form action="" method="post">
        <input type="text"     class="username-input-field" placeholder="Username" name="username" value="{{request.form.username }}" >
        <input type="password" class="password-input-field" placeholder="Password" name="password" value="{{request.form.password }}" >
        <input type="submit"   class="btn" value="Login">
      </form>
      {% with messages = get_flashed_messages(with_categories=true) %}
	  {% if messages %}
      <ul class=flashes>
            {% for category, message in messages %}
            	{% if messages and category == 'error' %}
            	<script>
            		let uploadFileMessagesContainer = document.getElementById("upload_file_messages_container");
            		ebar({ lvl: 4, target: uploadFileMessagesContainer, msg: "{{ message }}" });
            	</script>
            	<!-- <div class="bar error">
            		<div class="close" onclick="this.parentElement.remove()">X</div>
            		<li>
            			<i class="ico">&#9747;</i>{{ message }}
            		</li>
            	</div> -->
            	{% elif messages and category == 'info' %}
            	<script>
            		let uploadFileMessagesContainer = document.getElementById("upload_file_messages_container");
            		ebar({ lvl: 2, target: uploadFileMessagesContainer, msg: "{{ message }}" });
            	</script>
            	{% endif %}
            {% endfor %}
          </ul>
      {% endif %}
      {% endwith %}
    </div>
  </body>
</html>

