<html>
  <head>
    <title>Grafana Plugins Server - login page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='login_styles.css') }}">
  </head>
  <body>
    <div class="box">
      <h1>Please login</h1>
      <br>
      <form action="" method="post">
        <input type="text"     class="username-input-field" placeholder="Username" name="username" value="{{request.form.username }}" >
        <input type="password" class="password-input-field" placeholder="Password" name="password" value="{{request.form.password }}" >
        <input type="submit"   class="btn" value="Login">
      </form>
      {% if error %}
        <p class="error"><strong>Error:</strong> {{ error }}
      {% endif %}
    </div>
  </body>
</html>

