<!-- templates/plugins.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Grafana Plugins</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='plugins_page_styles.css') }}">
</head>
<body>
    <br>
    <a href="{{ url_for('index') }}" class="dashboard-link">&larr; Dashboard</a>
    <br><br>
    <h1>Grafana Plugins</h1>
    {% set root_dir = app.config['GRAFANA_PLUGINS_DIR'] %}
    {% for directory_, _, files in os.walk(root_dir) %}
        {% for file_name in files if file_name.endswith('.zip') %}
            {% set rel_dir = os.path.relpath(directory_, root_dir) %}
            {% set rel_file = os.path.join(rel_dir, file_name) %}
            <div class="plugin-item">
                <a href="{{ url_for('download_plugin', filename=rel_file) }}" class="download-link">{{ rel_file }}</a>
                <form method="POST" action="{{ url_for('delete_plugin', filename=rel_file) }}" class="delete-button">
                    <input type="submit" value="Delete">
                </form>
            </div>
        {% endfor %}
    {% endfor %}
</body>
</html>
